server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/Strahovets
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

jwt:
  secret: stakhanovets-super-secret-key-for-jwt-authentication-2024-very-long
  expiration: 86400000
